@tailwind base;
@tailwind components;
@tailwind utilities;

:root {
  --foreground-rgb: 0, 0, 0;
  --background-start-rgb: 214, 219, 220;
  --background-end-rgb: 255, 255, 255;
}

@media (prefers-color-scheme: dark) {
  :root {
    --foreground-rgb: 255, 255, 255;
    --background-start-rgb: 0, 0, 0;
    --background-end-rgb: 0, 0, 0;
  }
}

@font-face {
  font-family: 'FuturaHvBTHeavy';
  src: url('/fonts/Futura_Hv_BT_Heavy.ttf') format('truetype');
  font-weight: bold;
  font-style: normal;
}

@font-face {
  font-family: 'FuturaMedium';
  src: url('/fonts/Futura_Medium.ttf') format('truetype');
  font-weight: normal; /* Puedes establecer font-weight según corresponda para Medium */
  font-style: normal;
}

body {
  color: rgb(var(--foreground-rgb));
  background: '#003b71'
}

h1,h2,h3 {
    font-family: 'FuturaHvBTHeavy', sans-serif;
}

p {
  font-family: 'FuturaMedium', sans-serif;
}

.row_text_small{
  padding-right: 1rem;
  font-size: 0.7rem;
}

.row_text_big{
  padding-left: 1rem;
  font-size: 0.9rem;
  color: #7f9cb7;
}

.row_text_big:hover{
  color: #ffffff;
  cursor: pointer;
}
